<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
        
        <setting name="logImpl" value="STDOUT_LOGGING" />
    </settings><!-- 打印查询语句 -->
    <typeAliases> 
        <typeAlias alias="cfg_Alarm" type="com.iot.gateway.cfg.model.cfg_Alarm"/> 
        <typeAlias alias="cfg_Call" type="com.iot.gateway.cfg.model.cfg_Call"/>  
        <typeAlias alias="cfg_DataModel" type="com.iot.gateway.cfg.model.cfg_DataModel"/> 
        <typeAlias alias="cfg_Dev" type="com.iot.gateway.cfg.model.cfg_Dev"/> 
        <typeAlias alias="cfg_Function" type="com.iot.gateway.cfg.model.cfg_Function"/> 
        <typeAlias alias="cfg_IoInfo" type="com.iot.gateway.cfg.model.cfg_IoInfo"/> 
    </typeAliases> 
	<!-- 数据库环境配置-->
    <environments default="development">
        <environment id="development">
        <!-- jdbc管理-->
        <transactionManager type="JDBC"/>
         <!-- 用什么连接池-->
            <dataSource type="POOLED">
           	<!-- jdbc驱动-->
           	<!-- <property name="driver" value="com.mysql.cj.jdbc.Driver"/> -->
           	 <property name="driver" value="com.mysql.jdbc.Driver"/>
           	<!--  数据库名字url -->
           	<!-- <property name="url" value="jdbc:mysql://172.28.9.249:13306/device_check?useUnicode=true" /> 
           	<property name="username" value="bzlcrtcn"/> 
           	<property name="password" value="rjqNdG#1lKWP%(ltFTerv"/> --> 
           	<property name="url" value="jdbc:mysql://localhost:3306/gateway_core?characterEncoding=utf-8" /> 
            <property name="username" value="root"/> 
            <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments> 
    <mappers> 
        <mapper class="com.iot.gateway.cfg.mapping.FunctionMapper"></mapper> 
        <mapper class="com.iot.gateway.cfg.mapping.AlarmMapper"></mapper> 
        <mapper class="com.iot.gateway.cfg.mapping.CallMapper"></mapper> 
        <mapper class="com.iot.gateway.cfg.mapping.DataModelMapper"></mapper> 
        <mapper class="com.iot.gateway.cfg.mapping.DevMapper"></mapper> 
        <mapper class="com.iot.gateway.cfg.mapping.IoInfoMapper"></mapper> 
    </mappers>
</configuration>
