<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bgy.gateway.dao.mapper.MonitorMapper">


   <delete id="deleteMonitorEntity">
     DELETE FROM  plc_monitor
   </delete>
</mapper>